Repository goda6565/AI-Consultant: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'pnpm backend-check', bash -c 'pnpm frontend-check', bash -c 'pnpm shared-tf-check', bash -c 'pnpm dev-tf-check'

feat: add job
  infrastructure/terraform/environments/development/main.tf
  infrastructure/terraform/modules/cloudrun-job/main.tf
  infrastructure/terraform/modules/cloudrun-job/variables.tf
  infrastructure/terraform/modules/cloudrun/output.tf
Due: bash -c 'pnpm dev-tf-check'

feat: add report get
  backend/di/wire.go
  backend/di/wire_gen.go
  backend/internal/infrastructure/http/echo/admin/handler/admin.go
  backend/internal/infrastructure/http/echo/admin/handler/report/get.go
  backend/internal/infrastructure/http/echo/admin/handler/report/wireset.go
  backend/internal/infrastructure/http/echo/admin/internal/gen.go
  backend/internal/usecase/report/get.go
  backend/internal/usecase/report/wireset.go
  frontend/src/shared/api/admin/model/getReportSuccessResponse.ts
  frontend/src/shared/api/admin/model/index.ts
  frontend/src/shared/api/admin/model/report.ts
  frontend/src/shared/api/admin/reports/reports.ts
  infrastructure/schemas/openapi/admin/openapi.yaml
Due: bash -c 'pnpm backend-check', bash -c 'pnpm frontend-check'

feat: add custom search API configuration and secret management
  infrastructure/terraform/environments/development/locals.tf
  infrastructure/terraform/environments/development/main.tf
Due: bash -c 'pnpm dev-tf-check'

feat: update cloud run job name for backend proposal
  infrastructure/terraform/environments/development/locals.tf
  infrastructure/terraform/environments/development/main.tf
Due: bash -c 'pnpm dev-tf-check'

feat: add cpu and memory config
  infrastructure/terraform/environments/development/main.tf
  infrastructure/terraform/modules/cloudrun-job/main.tf
  infrastructure/terraform/modules/cloudrun-job/variables.tf
Due: bash -c 'pnpm dev-tf-check'

fix: memory 5 -> 4
  infrastructure/terraform/environments/development/main.tf
Due: bash -c 'pnpm dev-tf-check'

feat: add vitepress cd
  .github/workflows/cd-doc.yaml
  backend/Makefile
  backend/README.md
  docs/backend/admin.md
  docs/backend/agent.md
  docs/backend/proposal-job.md
  docs/backend/vector.md
  docs/frontend/frontend.md
  frontend/README.md
  frontend/app/favicon.ico
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/pages/problems/ui/message-view.tsx
  frontend/src/stories/problems/message-view.stories.tsx
Due: none

feat: add evaluate
  .github/workflows/cd-doc.yaml
  .gitignore
  backend/Makefile
  backend/cmd/eval.go
  backend/cmd/root.go
  backend/di/eval.go
  backend/di/wire.go
  backend/di/wire_gen.go
  backend/internal/domain/action/repository/action.go
  backend/internal/domain/action/repository/mock/action.go
  backend/internal/domain/action/value/action_type.go
  backend/internal/domain/agent/service/orchestrator.go
  backend/internal/domain/agent/service/orchestrator_test.go
  backend/internal/domain/event/repository/event.go
  backend/internal/domain/event/repository/mock/event.go
  backend/internal/domain/hearing/repository/mock/hearing.go
  backend/internal/domain/llm/mock/client.go
  backend/internal/domain/report/repository/mock/report.go
  backend/internal/evaluate/eval.go
  backend/internal/evaluate/proposal-job/eval.go
  backend/internal/evaluate/proposal-job/llm-as-a-judge/judge.go
  backend/internal/evaluate/proposal-job/llm-as-a-judge/prompt.go
  backend/internal/evaluate/proposal-job/llm-as-a-judge/wireset.go
  backend/internal/evaluate/proposal-job/memory/action_repository.go
  backend/internal/evaluate/proposal-job/memory/report_repository.go
  backend/internal/evaluate/proposal-job/memory/wireset.go
  backend/internal/evaluate/proposal-job/mock-data.go
  backend/internal/evaluate/proposal-job/mock/search.go
  backend/internal/evaluate/proposal-job/mock/wireset.go
  backend/internal/evaluate/proposal-job/wireset.go
  backend/internal/evaluate/wireset.go
Due: bash -c 'pnpm backend-check'

fix: max action to 30
  backend/internal/domain/agent/service/orchestrator.go
Due: bash -c 'pnpm backend-check'

feat: fix magic number to const
  backend/internal/domain/agent/service/orchestrator.go
  backend/internal/evaluate/proposal-job/eval.go
  backend/internal/evaluate/proposal-job/llm-as-a-judge/judge.go
Due: bash -c 'pnpm backend-check'

refactor: variables
  backend/internal/evaluate/proposal-job/eval.go
  backend/internal/evaluate/proposal-job/llm-as-a-judge/judge.go
Due: bash -c 'pnpm backend-check'

feat: add not 0
  backend/README.md
  backend/internal/domain/agent/service/orchestrator.go
Due: bash -c 'pnpm backend-check'

feat: allow some error
  backend/internal/usecase/proposal/execute.go
Due: bash -c 'pnpm backend-check'

feat: change message
  backend/internal/domain/agent/service/orchestrator.go
Due: bash -c 'pnpm backend-check'

feat: enhance workflow
  backend/di/wire_gen.go
  backend/internal/domain/action/entity/action.go
  backend/internal/domain/action/service/search.go
  backend/internal/domain/action/value/action_type.go
  backend/internal/domain/agent/service/orchestrator.go
  backend/internal/domain/agent/service/orchestrator_test.go
  backend/internal/domain/agent/service/reflection.go
  backend/internal/domain/agent/service/summarize.go
  backend/internal/domain/agent/service/terminator.go
  backend/internal/domain/agent/service/wireset.go
  backend/internal/domain/agent/state/state.go
  backend/internal/domain/notify/client.go
  backend/internal/domain/prompt/prompts/write.go
  backend/internal/evaluate/proposal-job/eval.go
  backend/internal/evaluate/proposal-job/memory/action_repository.go
  backend/internal/usecase/proposal/execute.go
Due: bash -c 'pnpm backend-check'

feat: add pnpm action
  .github/workflows/cd-doc.yaml
Due: none

feat: add base path
  docs/.vitepress/config.mts
Due: none

docs: add config
  docs/.vitepress/config.mts
  docs/api-examples.md
  docs/backend/index.md
  docs/frontend/index.md
  docs/index.md
  docs/markdown-examples.md
Due: none

feat: update deployment job command from 'deploy' to 'update'
  infrastructure/deployments/cloudbuild/dev/backend-proposal-job.yaml
Due: none

feat: adjust MaxActionLoopCount and improve scrolling behavior in message view
  backend/internal/domain/agent/service/terminator.go
  frontend/src/pages/problems/ui/message-view.tsx
  frontend/src/pages/problems/ui/page.tsx
Due: bash -c 'pnpm backend-check'

feat: add action list api
  backend/di/wire.go
  backend/di/wire_gen.go
  backend/internal/infrastructure/http/echo/admin/handler/action/list.go
  backend/internal/infrastructure/http/echo/admin/handler/action/wireset.go
  backend/internal/infrastructure/http/echo/admin/handler/admin.go
  backend/internal/infrastructure/http/echo/admin/internal/gen.go
  backend/internal/usecase/action/list.go
  backend/internal/usecase/action/wireset.go
  frontend/src/pages/problems/ui/page.tsx
  infrastructure/schemas/openapi/admin/openapi.yaml
Due: bash -c 'pnpm backend-check'

feat: add job config table
  backend/di/wire.go
  backend/di/wire_gen.go
  backend/internal/domain/action/service/external_search.go
  backend/internal/domain/action/service/internal_search.go
  backend/internal/domain/action/service/search.go
  backend/internal/domain/action/service/template.go
  backend/internal/domain/action/service/wireset.go
  backend/internal/domain/action/tools/search.go
  backend/internal/domain/action/value/action_type.go
  backend/internal/domain/agent/service/orchestrator.go
  backend/internal/domain/agent/state/state.go
  backend/internal/domain/job_config/entity/job_config.go
  backend/internal/domain/job_config/repository/job_config.go
  backend/internal/domain/prompt/prompts/search.go
  backend/internal/domain/prompt/prompts/write.go
  backend/internal/domain/prompt/service/builder.go
  backend/internal/infrastructure/google/database/internal/gen/app/job_config.sql.go
  backend/internal/infrastructure/google/database/internal/gen/app/models.go
  backend/internal/infrastructure/google/database/internal/query/app/job_config.sql
  backend/internal/infrastructure/google/database/repository/job_config/job_config.go
  backend/internal/infrastructure/google/database/repository/job_config/wireset.go
  backend/internal/infrastructure/google/database/transaction/admin.go
  backend/internal/infrastructure/http/echo/admin/handler/admin.go
  backend/internal/infrastructure/http/echo/admin/handler/job_config/get.go
  backend/internal/infrastructure/http/echo/admin/handler/job_config/update.go
  backend/internal/infrastructure/http/echo/admin/handler/job_config/wireset.go
  backend/internal/infrastructure/http/echo/admin/internal/gen.go
  backend/internal/usecase/job_config/get.go
  backend/internal/usecase/job_config/update.go
  backend/internal/usecase/job_config/wireset.go
  backend/internal/usecase/ports/transaction/admin.go
  backend/internal/usecase/problem/create.go
  backend/internal/usecase/problem/delete.go
  backend/internal/usecase/proposal/execute.go
  infrastructure/schemas/migrations/app/20251005152156_add_job_config_table.down.sql
  infrastructure/schemas/migrations/app/20251005152156_add_job_config_table.up.sql
  infrastructure/schemas/openapi/admin/openapi.yaml
Due: bash -c 'pnpm backend-check'

feat: add job config
  backend/di/wire.go
  backend/di/wire_gen.go
  backend/internal/domain/agent/service/orchestrator.go
  backend/internal/domain/job_config/repository/mock/job_config.go
  backend/internal/domain/prompt/prompts/review.go
  backend/internal/evaluate/proposal-job/eval.go
  backend/internal/evaluate/proposal-job/mock-data.go
  backend/internal/infrastructure/http/echo/admin/internal/gen.go
  backend/internal/usecase/proposal/execute.go
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/pages/problems/api/use-chat-api.ts
  frontend/src/pages/problems/model/zod.ts
  frontend/src/pages/problems/ui/event-list.tsx
  frontend/src/pages/problems/ui/page.tsx
  frontend/src/shared/api/admin/actions/actions.ts
  frontend/src/shared/api/admin/job-configs/job-configs.ts
  frontend/src/shared/api/admin/model/action.ts
  frontend/src/shared/api/admin/model/actionType.ts
  frontend/src/shared/api/admin/model/getJobConfigSuccessResponse.ts
  frontend/src/shared/api/admin/model/index.ts
  frontend/src/shared/api/admin/model/jobConfig.ts
  frontend/src/shared/api/admin/model/listActionsSuccessResponse.ts
  frontend/src/shared/api/admin/model/updateJobConfigBody.ts
  frontend/src/shared/api/admin/model/updateJobConfigSuccessResponse.ts
  frontend/src/shared/api/index.ts
  frontend/src/shared/ui/index.ts
  frontend/src/shared/ui/switch.tsx
  frontend/src/stories/problems/monitor.stories.tsx
  infrastructure/schemas/openapi/admin/openapi.yaml
Due: bash -c 'pnpm backend-check', bash -c 'pnpm frontend-check'

feat: add staging
  infrastructure/deployments/cloudbuild/staging/backend-admin.yaml
  infrastructure/deployments/cloudbuild/staging/backend-agent.yaml
  infrastructure/deployments/cloudbuild/staging/backend-proposal-job.yaml
  infrastructure/deployments/cloudbuild/staging/backend-vector.yaml
  infrastructure/deployments/cloudbuild/staging/frontend.yaml
  infrastructure/deployments/cloudbuild/staging/migrate-app-db.yaml
  infrastructure/deployments/cloudbuild/staging/migrate-vector-db.yaml
  infrastructure/terraform/environments/shared/main.tf
  infrastructure/terraform/environments/staging/.terraform.lock.hcl
  infrastructure/terraform/environments/staging/locals.tf
  infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/provider.tf
  infrastructure/terraform/environments/staging/terraform.tf
  infrastructure/terraform/environments/staging/variables.tf
  infrastructure/terraform/modules/cloudrun/main.tf
  infrastructure/terraform/modules/cloudrun/variables.tf
Due: bash -c 'pnpm shared-tf-check'

feat: add staging Terraform check
  .lintstagedrc
Due: none

feat: enable public access for Cloud Run services in staging environment
  infrastructure/terraform/environments/staging/main.tf
Due: none

feat: add Skipper
  backend/di/wire_gen.go
  backend/internal/domain/action/service/external_search.go
  backend/internal/domain/action/value/action_type.go
  backend/internal/domain/agent/service/skipper.go
  backend/internal/domain/agent/service/wireset.go
  backend/internal/evaluate/proposal-job/eval.go
  backend/internal/usecase/proposal/execute.go
  frontend/src/pages/login/ui/page.tsx
Due: bash -c 'pnpm backend-check'

fix: delete job config
  backend/internal/usecase/problem/delete.go
Due: bash -c 'pnpm backend-check'

feat: fetch job config without tx
  backend/di/wire_gen.go
  backend/internal/usecase/problem/delete.go
Due: bash -c 'pnpm backend-check'

feat: fix event ui
  backend/internal/domain/prompt/prompts/analyze.go
  frontend/biome.json
  frontend/src/pages/problems/ui/event-list.tsx
  frontend/src/pages/problems/ui/page.tsx
  frontend/src/shared/ui/dialog.tsx
  frontend/src/shared/ui/index.ts
  frontend/src/shared/ui/item.tsx
  frontend/src/stories/problems/monitor.stories.tsx
Due: bash -c 'pnpm backend-check', bash -c 'pnpm frontend-check'

feat: add metadata
  frontend/src/app/layouts/root.tsx
Due: none

feat: impl firebase auth
  backend/di/wire_gen.go
  backend/go.mod
  backend/go.sum
  backend/internal/infrastructure/google/firebase/client.go
  backend/internal/infrastructure/http/echo/admin/middleware/auth.go
  backend/internal/infrastructure/http/echo/agent/middleware/auth.go
Due: bash -c 'pnpm backend-check'

feat: add hearing map
  backend/di/wire.go
  backend/di/wire_gen.go
  backend/internal/domain/hearing_map/entity/hearing_map.go
  backend/internal/domain/hearing_map/repository/hearing_map.go
  backend/internal/domain/hearing_map/repository/mock/hearing_map.go
  backend/internal/domain/hearing_map/service/generate_map.go
  backend/internal/domain/hearing_map/service/wireset.go
  backend/internal/domain/hearing_map/value/content.go
  backend/internal/infrastructure/google/database/internal/gen/app/hearing_map.sql.go
  backend/internal/infrastructure/google/database/internal/gen/app/models.go
  backend/internal/infrastructure/google/database/internal/query/app/hearing_map.sql
  backend/internal/infrastructure/google/database/repository/hearing_map/hearing_map.go
  backend/internal/infrastructure/google/database/repository/hearing_map/wireset.go
  backend/internal/infrastructure/google/database/transaction/admin.go
  backend/internal/infrastructure/http/echo/admin/handler/admin.go
  backend/internal/infrastructure/http/echo/admin/handler/hearing_map/get.go
  backend/internal/infrastructure/http/echo/admin/handler/hearing_map/wireset.go
  backend/internal/infrastructure/http/echo/admin/internal/gen.go
  backend/internal/usecase/hearing/execute.go
  backend/internal/usecase/hearing_map/get.go
  backend/internal/usecase/hearing_map/wireset.go
  backend/internal/usecase/ports/transaction/admin.go
  backend/internal/usecase/problem/delete.go
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/pages/problems/ui/hearing-map-view.tsx
  frontend/src/pages/problems/ui/page.tsx
  frontend/src/shared/api/admin/hearing-maps/hearing-maps.ts
  frontend/src/shared/api/admin/model/getHearingMapSuccessResponse.ts
  frontend/src/shared/api/admin/model/hearingMap.ts
  frontend/src/shared/api/admin/model/index.ts
  frontend/src/shared/api/index.ts
  frontend/src/shared/ui/index.ts
  frontend/src/shared/ui/mermaid.tsx
  frontend/src/stories/problems/hearing-map-view.stories.tsx
  infrastructure/schemas/migrations/app/20251006213310_add_hearing_map_table.down.sql
  infrastructure/schemas/migrations/app/20251006213310_add_hearing_map_table.up.sql
  infrastructure/schemas/openapi/admin/openapi.yaml
Due: bash -c 'pnpm backend-check', bash -c 'pnpm frontend-check'

Path conditions:
  bash -c 'pnpm backend-check': any of: backend/**/*.go
  bash -c 'pnpm frontend-check': any of: frontend/**/*.ts
  bash -c 'pnpm shared-tf-check': any of: infrastructure/terraform/environments/shared/*.tf
  bash -c 'pnpm dev-tf-check': any of: infrastructure/terraform/environments/development/*.tf
