Repository goda6565/AI-Consultant: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'pnpm backend-check', bash -c 'pnpm shared-tf-check'

.lintstagedrc:

{
    "backend/**/*.go": [
        "bash -c 'pnpm backend-check'"
    ],
    "infrastructure/terraform/environments/shared/*.tf": [
        "bash -c 'pnpm shared-tf-check'"
    ]
}

feat: add terraform action
  .github/workflows/terraform.yaml
Due: none

feat: enable apis for github actions
  infrastructure/terraform/README.md
  infrastructure/terraform/modules/github-wip/main.tf
Due: none

feat: add network
  infrastructure/terraform/environments/shared/main.tf
  infrastructure/terraform/environments/shared/variables.tf
  infrastructure/terraform/modules/artifact-registry/main.tf
  infrastructure/terraform/modules/artifact-registry/variables.tf
  infrastructure/terraform/modules/network/main.tf
  infrastructure/terraform/modules/network/variables.tf
Due: bash -c 'pnpm shared-tf-check'

fix: target branch
  .github/workflows/terraform.yaml
Due: none

feat: add database
  infrastructure/terraform/environments/shared/main.tf
  infrastructure/terraform/modules/cloudsql/main.tf
  infrastructure/terraform/modules/cloudsql/variables.tf
  infrastructure/terraform/modules/network/output.tf
Due: bash -c 'pnpm shared-tf-check'

fix: db edition
  infrastructure/terraform/modules/cloudsql/main.tf
Due: none

fix: change database edition to ENTERPRISE
  infrastructure/terraform/modules/cloudsql/main.tf
Due: none

feat: add cloud run
  infrastructure/terraform/environments/development/main.tf
  infrastructure/terraform/environments/development/provider.tf
  infrastructure/terraform/environments/development/terraform.tf
  infrastructure/terraform/environments/development/variables.tf
  infrastructure/terraform/modules/cloudrun/main.tf
  infrastructure/terraform/modules/cloudrun/variables.tf
  infrastructure/terraform/modules/cloudsql/main.tf
  infrastructure/terraform/modules/cloudstorage/main.tf
  infrastructure/terraform/modules/cloudstorage/variables.tf
Due: none

feat: add development tf-check to lintstaged configuration
  .lintstagedrc
Due: none

feat: add VPC and subnet variables to development environment
  .lintstagedrc
  infrastructure/terraform/environments/development/.terraform.lock.hcl
  infrastructure/terraform/environments/development/main.tf
  infrastructure/terraform/environments/development/variables.tf
Due: none

feat: update Cloud Run image and add Cloud Build Host Connection to README
  infrastructure/terraform/README.md
  infrastructure/terraform/modules/cloudrun/main.tf
Due: none

feat: add cloud build
  infrastructure/terraform/environments/shared/main.tf
  infrastructure/terraform/modules/cloudbuild-connection/main.tf
  infrastructure/terraform/modules/cloudbuild-connection/output.tf
  infrastructure/terraform/modules/cloudbuild-connection/variables.tf
Due: bash -c 'pnpm shared-tf-check'

feat: update paths-filter for environment categories in terraform workflow
  .github/workflows/terraform.yaml
Due: none

feat: add local environment variables and cloud build triggers for development
  infrastructure/terraform/environments/development/locals.tf
  infrastructure/terraform/environments/development/main.tf
  infrastructure/terraform/environments/development/variables.tf
  infrastructure/terraform/environments/shared/output.tf
  infrastructure/terraform/modules/cloudbuild-trigger-branch/main.tf
  infrastructure/terraform/modules/cloudbuild-trigger-branch/variables.tf
  infrastructure/terraform/modules/cloudbuild-trigger-tag/main.tf
  infrastructure/terraform/modules/cloudbuild-trigger-tag/variables.tf
  infrastructure/terraform/modules/secret-manager/main.tf
  infrastructure/terraform/modules/secret-manager/variables.tf
Due: bash -c 'pnpm shared-tf-check'

feat: add database credentials as local environment variables for development
  infrastructure/terraform/environments/development/locals.tf
Due: none

feat: add Dockerfile for admin service and Cloud Build configuration
  backend/Dockerfile.admin
  infrastructure/deployments/cloudbuild/dev/backend-admin.yaml
Due: none

feat: fix cloud build include path
  infrastructure/terraform/environments/development/main.tf
Due: none

feat: delete envDefault
  backend/internal/infrastructure/environment/env.go
Due: bash -c 'pnpm backend-check'

docs: add server information
  backend/README.md
  infrastructure/terraform/environments/development/main.tf
Due: none

feat: update development environment variables and add cloudbuild-pool module
  infrastructure/terraform/environments/development/locals.tf
  infrastructure/terraform/environments/shared/main.tf
  infrastructure/terraform/modules/cloudbuild-pool/main.tf
  infrastructure/terraform/modules/cloudbuild-pool/variables.tf
Due: bash -c 'pnpm shared-tf-check'

feat: add cloud task
  .gitignore
  backend/Makefile
  backend/di/wire.go
  backend/di/wire_gen.go
  backend/go.mod
  backend/go.sum
  backend/internal/domain/document/entity/document.go
  backend/internal/infrastructure/environment/env.go
  backend/internal/infrastructure/google/cloudtasks/client.go
  backend/internal/infrastructure/google/cloudtasks/wireset.go
  backend/internal/infrastructure/google/pubsub/client.go
  backend/internal/infrastructure/google/pubsub/publish/publisher.go
  backend/internal/infrastructure/google/pubsub/wireset.go
  backend/internal/infrastructure/http/echo/vector/handler/chunk/create.go
  backend/internal/usecase/chunk/create.go
  backend/internal/usecase/document/create.go
  backend/internal/usecase/ports/pubsub/pubsub.go
  backend/internal/usecase/ports/queue/queue.go
  infrastructure/terraform/environments/development/locals.tf
  infrastructure/terraform/environments/development/main.tf
  infrastructure/terraform/modules/cloudtasks/main.tf
  infrastructure/terraform/modules/cloudtasks/variables.tf
  infrastructure/terraform/modules/pubsub/main.tf
  infrastructure/terraform/modules/pubsub/variables.tf
Due: bash -c 'pnpm backend-check'

feat: create chunk
  backend/Makefile
  backend/README.md
  backend/internal/domain/document/entity/document.go
  backend/internal/domain/document/service/duplicate_checker_test.go
  backend/internal/domain/document/value/document_extension.go
  backend/internal/domain/document/value/document_status.go
  backend/internal/domain/document/value/document_type.go
  backend/internal/domain/document/value/retry_count.go
  backend/internal/domain/document/value/sync_step.go
  backend/internal/infrastructure/google/database/internal/gen/app/document.sql.go
  backend/internal/infrastructure/google/database/internal/gen/app/models.go
  backend/internal/infrastructure/google/database/internal/query/app/document.sql
  backend/internal/infrastructure/google/database/repository/document/document.go
  backend/internal/infrastructure/google/storage/client.go
  backend/internal/infrastructure/http/echo/admin/handler/document/create.go
  backend/internal/infrastructure/http/echo/admin/handler/document/get.go
  backend/internal/infrastructure/http/echo/admin/handler/document/list.go
  backend/internal/infrastructure/http/echo/admin/internal/gen.go
  backend/internal/infrastructure/http/echo/vector/handler/chunk/create.go
  backend/internal/usecase/chunk/create.go
  backend/internal/usecase/document/create.go
  backend/internal/usecase/document/delete.go
  backend/internal/usecase/ports/storage/mock/storage.go
  backend/internal/usecase/ports/storage/storage.go
  infrastructure/schemas/migrations/app/20250907200442_create_document_table.up.sql
  infrastructure/schemas/openapi/admin/openapi.yaml
Due: bash -c 'pnpm backend-check'

feat: add Cloud Build triggers for database migrations
  infrastructure/terraform/environments/development/main.tf
Due: none

feat: add migration configurations for app and vector databases
  infrastructure/deployments/cloudbuild/dev/migrate-app-db.yaml
  infrastructure/deployments/cloudbuild/dev/migrate-vector-db.yaml
Due: none

feat: update worker pool configuration for database migration YAML files
  infrastructure/deployments/cloudbuild/dev/migrate-app-db.yaml
  infrastructure/deployments/cloudbuild/dev/migrate-vector-db.yaml
Due: none

feat: fix migrate yaml
  infrastructure/deployments/cloudbuild/dev/migrate-app-db.yaml
  infrastructure/deployments/cloudbuild/dev/migrate-vector-db.yaml
Due: none

feat: fix db name
  infrastructure/terraform/environments/development/locals.tf
Due: none

feat: next project init
  frontend/.gitignore
  frontend/README.md
  frontend/biome.json
  frontend/next.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/postcss.config.mjs
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/window.svg
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tsconfig.json
Due: none

feat: add cors
  backend/di/wire_gen.go
  backend/internal/infrastructure/http/echo/admin/middleware/cors.go
  backend/internal/infrastructure/http/echo/admin/router.go
  backend/internal/usecase/document/delete.go
Due: bash -c 'pnpm backend-check'

feat: add frontend cloudbuild trigger and secret manager configurations
  infrastructure/terraform/environments/development/main.tf
  infrastructure/terraform/environments/shared/main.tf
Due: bash -c 'pnpm shared-tf-check'

feat: add Dockerfile and cloudbuild configuration for frontend deployment
  frontend/Dockerfile
  infrastructure/deployments/cloudbuild/dev/frontend.yaml
Due: none

fix: frontend.yaml
  infrastructure/deployments/cloudbuild/dev/frontend.yaml
Due: none

feat: add redis url
  infrastructure/terraform/environments/development/locals.tf
  infrastructure/terraform/environments/shared/main.tf
Due: bash -c 'pnpm shared-tf-check'

feat: add agent deploy flow
  backend/Dockerfile.agent
  infrastructure/deployments/cloudbuild/dev/backend-agent.yaml
  infrastructure/terraform/environments/development/main.tf
Due: none
